## For index cache
./.cache
*.npy
*.pkl
**/.pytest_cache

## Python envs
.venv
venv

## Project cache
__pycache__
**/__pycache__
*/__pycache__
.ruff_cache
**/.ruff_cache
*.egg-info

## Sample Data
sample
sample/**

## Project claude setting
.claude
claude.md

## sample index
**.faiss
